:root {
  --soft_blue: hsl(215, 51%, 70%);
  --cyan_blue: hsl(178, 100%, 50%);
  --main_bg: hsl(217, 54%, 11%);
  --card_bg: hsl(216, 50%, 16%);
  --line_clr: hsl(215, 32%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main_bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

main {
  width: 300px;

  background-color: var(--card_bg);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  text-align: left;
}
.images{
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eye{
position: absolute;
  z-index: 3;
  opacity: 0;
}
.img {
  z-index: 1;
  width: 100%;
  border-radius: 15px;
}

.text{
  position: relative;
  z-index: 3;
}
.text h5 {
  color: white;
  font-size: 20px;
  margin: 15px 0 10px;
}

.text p {
  color: var(--soft_blue);
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detail-1, .detail-2 {
  display: flex;
  align-items: center;
}

.detail-1 p {
  margin-left: 5px;
  color: var(--cyan_blue);
}

.detail-2 p {
  color: white;
}

.creator {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Add margin to separate from hr if needed */
}

.creator img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.creator p {
  color: var(--soft_blue);
}

.creator p span {
  color: white;
}

hr {
  border: 0;
  border-top: 1px solid var(--line_clr);
  margin: 20px 0; /* Adjust margin to separate from content */
}

.images :hover {
  opacity: 0.5;

}
.images:hover .eye{
  opacity :1;
}

.images:hover .img{
  opacity : 0.5;
  
}

